<div class="footer-container">
  <div>
    <div class="footer-logo">
      <a href="#">L</a>
      <a href="#">e</a>
      <a href="#">o</a>
      <a href="#">n</a>
    </div>
    <div class="footer-impressum">
      <span>Impressum</span>
      <div class="footer-border"></div>
    </div>
  </div>
  <div>
    <span class="footer-copyright">© Leon Groschek 2023</span>
  </div>
  <div class="footer-icons">
    <img src="assets/img/Github-btn.png" />
    <a href="#contact">
      <img src="assets/img/Email-btn.png" />
    </a>
    <img src="assets/img/Linkedin-btn.png" />
  </div>
</div>
