.footer-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 291px;
  background: #141d2f;
  border-top: 4px solid #fa7902;
  color: #ffffff;
  padding: 0 100px;
  box-sizing: border-box;
  white-space: nowrap;
}

.footer-logo {
  font-size: clamp(28px, 2.5vw, 2.5vw);
  font-weight: 700;

  a {
      text-decoration: none;
      color: #ffffff;
  }

  a:nth-of-type(1) {
    color: #ff4747;
  }

  a:nth-of-type(4) {
    color: #fa7902;
  }

  &:hover {
    cursor: pointer;
  }
}

.footer-icons {
  img {
    width: 30px;
    height: auto;
    margin: 0 21px;
    transition: transform 125ms ease-out;

    &:hover {
        transform: scale(1.2);
    }

    a {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.footer-impressum {
    box-sizing: border-box;
  span {
      font-size: clamp(16px, 1vw, 1vw);
      cursor: default;

    &:hover ~ .footer-border {
      background-color: #ff4747;
    }
  }
}

.footer-border {
  height: 2px;
  width: 50px;
  background-color: transparent;
}

.footer-copyright {
    font-size: clamp(22px, 1.5vw, 1.5vw);
}

@media (max-width: 900px) {

  .footer-container {
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 81px;
  }

  .footer-impressum {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .footer-container {
    padding: 0 50px;
  }
}
