<div class="footer-container">
  <div>
    <div class="footer-logo">
      <a href="#">L</a>
      <a href="#">e</a>
      <a href="#">o</a>
      <a href="#">n</a>
    </div>
    <div class="footer-impressum">
      <span>Impressum</span>
      <div class="footer-border"></div>
    </div>
  </div>
  <div>
    <span class="footer-copyright">© Leon Groschek 2023</span>
  </div>
  <div class="footer-icons">
    <a href="https://github.com/leongrx" target="_blank"><img src="assets/img/Github-btn.png"/></a>
    <a href="#contact"><img src="assets/img/Email-btn.png"/></a>
    <a href="https://www.linkedin.com/in/Leon-Groschek/"><img src="assets/img/Linkedin-btn.png"/></a>
  </div>
</div>
