<div class="about-me">
    <div class="about-me-left">
        <div>
            <h1>About me</h1>
        </div>
        <div class="about-me-introduction">
            <p>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna
                finibus eleifend sit amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur.
            </p>
        </div>
        <div>
            <div class="about-me-personal">
                <img src="assets/img/Bulb-desktop.png">
                <p>
                    Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                </p>
            </div>
            <div class="about-me-personal">
                <img src="assets/img/Puzzle-desktop.png">
                <p>
                    Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                </p>
            </div>

        </div>
    </div>
    <div class="about-me-right">
        <img class="about-me-right-shadow" src="assets/img/RedShadow.png">
        <div class="about-me-right-container">
            <img src="assets/img/Profile.png">
            <div class="about-me-right-border"></div>
        </div>
    </div>
</div>