<div class="about-me" id="about-me">
    <div class="about-me-left">
        <div>
            <h1>About me</h1>
        </div>
        <div class="about-me-introduction">
            <p>Hi, I am a 24 years young Front-end developer based in Eigeltingen, Germany. I help you to solve problems with a cool
               head. My experience I gained during the development of web apps with JavaScript, TypeScript and the
               Angular Framework.
            </p>
        </div>
        <div>
            <div class="about-me-personal">
                <img src="assets/img/Bulb-desktop.png">
                <p>
                    I like to make the web a better place. So I work day-by-day hours to be a better developer. You´re welcome
                    to visit my public portfolio.
                </p>
            </div>
            <div class="about-me-personal">
                <img src="assets/img/Puzzle-desktop.png">
                <p>
                    During my free time, I play in a soccer club, or basketball or do some home workouts. In addition to it,
                    I love to travel and build my Mind. Finally, I´m hungry for Knowledge.
                </p>
            </div>

        </div>
    </div>
    <div class="about-me-right">
        <img class="about-me-right-shadow" src="assets/img/RedShadow.png">
        <div class="about-me-right-container">
            <img src="assets/img/Profile.png">
            <div class="about-me-right-border"></div>
        </div>
    </div>
</div>