<div class="contact-container" id="contact">
    <div class="contact-left">
        <h1>Contact</h1>
        <div class="contact-border"></div>
        <h4>Got a problem to solve?</h4>
        <p>
            Contact me through this form, I am interested in hearing you,
            knowing your ideas and contributing to your projects with my work.
        </p>
        <p>
            Need a Frontend developer? <b>Contact me!</b>
        </p>
        <img class="contact-shadow" src="assets/img/Contact-shadow-red.png">
    </div>
    <form autocomplete="off" (submit)="sendMail()" ngNativeValidate class="contact-right" #myForm>
        <input (click)="displaySpans()" id="name" required type="text" onfocus="this.placeholder=''" placeholder="Your name" name="name" #nameField>
        <span [class.invalid-name]="spanName">{{ invalidName }}</span>
        <input (click)="displaySpans()" id="email" required type="email" onfocus="this.placeholder=''" placeholder="Your email" name="email" #emailField>
        <span [class.invalid-email]="spanEmail">{{ invalidEmail }}</span>
        <textarea (click)="displaySpans()" id="message" required type="text" name="message" cols="30" rows="10" onfocus="this.placeholder=''" placeholder="Your message" #messageField></textarea>
        <span [class.invalid-message]="spanMessage">{{ invalidMessage }}</span>
        <button class="contact-right-btn" #sendButton>Send message :)</button>
        <a class="go-up" href="#">
            <img src="assets/img/Go-up-white.png">
            <img src="assets/img/Go-up-orange.png">
        </a>
    </form>
</div>
<div class="mail-toast" [class.mail-toast]="mailSuccess" >{{ toastMessage }}</div>