.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 250px;
  padding-left: 100px;
  padding-bottom: 200px;
  color: #ffffff;
}

.my-skills {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  column-gap: 11.07vw;
  row-gap: clamp(35px, 3.52vw, 3.52vw);
}

.skill-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 60px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  img {
    width: auto;
    height: 60px;
    margin-bottom: 10px;
  }

  span {
    white-space: nowrap;
    font-weight: 700;
  }

  &:hover {
    animation-name: bounce;
    -moz-animation-name: bounce;
  }

}

.skills-orange-shadow {
  position: absolute;
  top: 50px;
  left: -100px;
  z-index: -1;
  width: 27.86vw;
  height: auto;
}

.skills-introduction {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: -webkit-fill-available;
  min-width: 550px;
  padding-right: 100px;

  h1 {
    font-size: clamp(45px, 5.86vw, 5.86vw);
    font-weight: 700;
    text-align: right;
    margin: 0 0 0 70px;
  }

  p {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
  }
}

.skills-btn {
    display: flex;
    align-self: center;
    background: #fa7902;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #ffffff;
    padding: 15px 30px;
    font-size: clamp(18px, 1.5vw, 1.5vw);
    margin-left: auto;
    margin-right: 4vw;
    margin-top: 3.71vw;
    transition: all 150ms ease-out;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      transform: scale(1.15);
      background-color: #ff4747;
    }
}

.skills-border {
  position: absolute;
  top: 20%;
  right: 0;
  height: clamp(2.5px, 0.26vw, 0.26vw);
  width: clamp(35px, 3.77vw, 3.77vw);
  background-color: #ff4747;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.skills-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

@media (max-width: 1280px) {
  
  .skills {
    position: relative;
    flex-direction: column-reverse;
    margin-top: 150px;
  }

  .skills-introduction {
    position: unset;
  }

  .skills-btn {
    position: absolute;
    bottom: -100px;
    margin: unset;
    z-index: 1;
  }

  .my-skills {
    margin-top: 48px;
    justify-content: center;
    margin-right: 100px;
  }

  .skills-border {
    top: clamp(28px, 3.8vw, 3.8vw);
  }

}

@media (max-width: 800px) {

  .skills-introduction {
    min-width: unset;
  }

}

@media (max-width: 768px) {
  .skills {
    padding-left: 50px;
  }

  .my-skills {
    margin-right: 50px;
  }

  .skills-introduction {
    padding-right: 50px;
    h1 {
      margin: 0;
    }
  }
}
