<div class="portfolio" id="portfolio">
  <div class="portfolio-header">
    <div class="portfolio-header-group">
      <div class="portfolio-tiny-border"></div>
      <h1>Portfolio</h1>
      <div class="portfolio-big-border"></div>
    </div>
    <p class="portfolio-header-text">
      This page is a sample of my work - please feel free to try them out.
    </p>
  </div>
    <!-- ======================================== -->
  <div class="portfolio-projects-container">
    <div class="portfolio-project flex" *ngFor="let item of data; let i = index">
        <div class="portfolio-project-image">
            <img src="{{item.image}}">
        </div>
        <div class="portfolio-project-introduction">
            <h1>{{item.project}}</h1>
            <span *ngFor="let test of item.programming">{{test}}</span>
            <p>{{item.projecttext}}</p>
            <div class="portfolio-links">
                <a target="_blank" href="{{item.livetest}}">Live Test</a>
                <a target="_blank" href="{{item.github}}">Github</a>
            </div>
        </div>
    </div>
  </div>
</div>
