.introduction {
  display: flex;
  position: absolute;
  top: 109.3px;
}

.introduction-left {
  position: relative;
  display: flex;
}

.introduction-right {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.shadow-background {
  width: 46vw;
}

.profile-picture {
  position: absolute;
  width: 42vw;
}


.vertical-line {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8vw;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  color: white;
}

.introduction-right-text {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  letter-spacing: 0em;
  
  h1 {
    font-size: 5.8vw;
    font-weight: 700;
    margin: 0;
  }
  
  h2 {
    font-size: 3.7vw;
    color: #FF4747;
    text-transform: uppercase;
    margin: 0;
  }
}
