<div class="introduction">
    <div class="introduction-left">
        <img class="shadow-background" src="assets/img/Shadow-background.png">
        <img class="profile-picture" src="assets/img/Profile.png">
    </div>
    <div class="introduction-right">
        <div class="introduction-right-top">
            <div class="vertical-line">I am</div>
            <div class="introduction-right-text">
                <h1>Leon Groschek</h1>
                <h2>Frontend Developer</h2>
            </div>
        </div>
        <a href="#contact" class="introduction-btn">Let´s talk!</a>
    </div>
</div>
<div class="introduction-vertical-vector">
    <img class="introduction-vertical-vector-picture" src="assets/img/Vertical-vector.png">
    <div class="introduction-links-container">
        <div class="introduction-links">
            <div class="introduction-vertical-border"></div>
            <a href="https://github.com/leongrx" target="_blank"><img src="assets/img/Github-btn.png"></a>
            <a href="#contact"><img src="assets/img/Email-btn.png"></a>
            <a href="https://www.linkedin.com/in/Leon-Groschek/" target="_blank"><img src="assets/img/Linkedin-btn.png"></a>
            <a href="#contact">leon.groschek12@gmail.com</a>
        </div>
        <div class="introduction-scroll-down">
            <p>Scroll Down</p>
            <img src="assets/img/Scroll-down-arrow.png">
        </div> 
    </div>
</div>